<div class="alpha eight columns">
    <%= f.field_container :filterable do %>
      <%= f.label :filterable, Spree.t(:filterable) %><br />
      <%= f.check_box :filterable %>
      <%= f.error_message_on :filterable %>
    <% end %>
  </div>