<div class="twelve columns alpha omega">
  <%= f.field_container :properties do %>
    <%= f.label :properties, Spree.t(:filterable_properties) %><br />
    <%= f.text_field :property_ids, value: @taxon.property_ids.join(',') %>
  <% end %>
</div>